<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <title>World Clock</title>

    </head>
    <body>
      <div id="wholePage">
      <!-- @change="changeBGI" :style="{ backgroundImage: 'url(../images/image' + bgImgNumber + '.jpg)' }" -->
        <div id="clock-area">
          <div id="analog-container">
            <div id="analog-clock">
              <img id="hour-hand" class="hands" src="images/hour_hand.png">
              <img id="minute-hand" class="hands" src="images/minute_hand.png">
              <img id="second-hand" class="hands" src="images/second_hand.png">
            </div> <!--analog-clock-->
          </div> <!--analog-container-->
            <div id="clock">
              <p class="time">{{ time }}</p>
            </div> <!--clock-->

            <div id="sijaintiTieto">
                <p>Pituus = {{pituus}}</p>
                <p>Leveys = {{leveys}}</p>

            </div> <!--sijaintiTieto-->
            <div>
              <button onclick="geoLocation()">Check my timezone</button>
              <p>Time zone</p>
              <p id="aikaVyohyke"</p>

            </div> <!--aikaVyohyke-->


            <select id="numberOfClocks" @change="onChange($event)" v-model="multiClock">
                <option disabled selected value>Choose the number of clocks shown</option>
                <option value=1>1 clock</option>
                <option value=2>2 clocks</option>
                <option value=3>3 clocks</option>
            </select> <!--numberOfClocks-->

            <div id="text-area">
                <ul class="list">
                    <li id="current-timezone"></li>
                    <li id="current-area"></li>
                </ul>
            </div> <!--textarea-->
            <p><label for="selector-of-timezone">
                <select id="selector-of-timezone" @change="onChange($event)" v-model="timezone">
                    <option disabled selected value>Choose a timezone</option>
                    <option value=0>UTC-12:00</option>
                    <option value=1>UTC-11:00</option>
                    <option value=2>UTC-10:00</option>
                    <option value=3>UTC-09:30</option>
                    <option value=4>UTC-09:00</option>
                    <option value=5>UTC-08:00</option>
                    <option value=6>UTC-07:00</option>
                    <option value=7>UTC-06:00</option>
                    <option value=8>UTC-05:00</option>
                    <option value=9>UTC-04:00</option>
                    <option value=10>UTC-03:30</option>
                    <option value=11>UTC-03:00</option>
                    <option value=12>UTC-02:00</option>
                    <option value=13>UTC-01:00</option>
                    <option value=14>UTC±00:00</option>
                    <option value=15>UTC+01:00</option>
                    <option value=16>UTC+02:00</option>
                    <option value=17>UTC+03:00</option>
                    <option value=18>UTC+03:30</option>
                    <option value=19>UTC+04:00</option>
                    <option value=20>UTC+04:30</option>
                    <option value=21>UTC+05:00</option>
                    <option value=22>UTC+05:30</option>
                    <option value=23>UTC+05:45</option>
                    <option value=24>UTC+06:00</option>
                    <option value=25>UTC+06:30</option>
                    <option value=26>UTC+07:00</option>
                    <option value=27>UTC+08:00</option>
                    <option value=28>UTC+08:45</option>
                    <option value=29>UTC+09:00</option>
                    <option value=30>UTC+09:30</option>
                    <option value=31>UTC+10:00</option>
                    <option value=32>UTC+10:30</option>
                    <option value=33>UTC+11:00</option>
                    <option value=34>UTC+12:00</option>
                    <option value=35>UTC+12:45</option>
                    <option value=36>UTC+13:00</option>
                    <option value=37>UTC+14:00</option>
                </select>
            </label></p> <!--selector-of-timezone-->
        </div> <!--clock-area-->
      </div> <!--wholePage-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="js/clock.js"></script>
    </body>
</html>
