html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#wholePage {
  width: 100%;
  height: 100%;
}

#mainDiv {
  padding: 1em 2em;
  display: flex;
  justify-content: center;
}

#clock-area {

    border-color: #d1d1d1;
    border-width: 1px;
    border-style: none;
    border-radius: 10px;
    width: 30em;
    padding: 1em 0;
    margin: auto;
    margin-left: 0.1em;
    margin-right: 0.1em;
    align-items: center;
    /*float: left;*/
    justify-content: center;

}

#clock-area2 {

    border-color: #d1d1d1;
    border-width: 1px;
    border-style: none;
    border-radius: 10px;
    width: 30em;
    padding: 1em 0;
    margin: auto;
    margin-top: 0;
    margin-left: 0.1em;
    margin-right: 0.1em;
    align-items: center;
    /*float: none;*/
    justify-content: center;
    /*opacity: 0.9;*/
    visibility: hidden;

}

#clock-area3 {

    border-color: #d1d1d1;
    border-width: 1px;
    border-style: none;
    border-radius: 10px;
    width: 30em;
    padding: 1em 0;
    margin: auto;
    margin-top: 0;
    margin-left: 0.1em;
    margin-right: 0.1em;
    align-items: center;
    /*float: right;*/
    justify-content: center;
    /*position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.9;*/
    visibility: hidden;
}

#analog-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#analog-clock {
  position: relative;
  width: 280px;
  height: 280px;
  background: url("../images/clock_table.png");
}

#analog-clock2 {
  position: relative;
  width: 280px;
  height: 280px;
  background: url("../images/clock_table.png");
}

#analog-clock3 {
  position: relative;
  width: 280px;
  height: 280px;
  background: url("../images/clock_table.png");
}

.hands {
  position: absolute;
  top: 0;
  left: 0;
}

p, #text-area, th, #clock {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: grey;
}

p, #text-area {
  margin: 16px;
}

th, #clock {
  text-align: justify;
  padding: 16px;
}

#analog-clock:after {
  position: absolute;
  background: #000;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#bottom-area {
  background-color: white;
  padding-bottom: 20px;
  opacity: 0.9;
}

#bottomFirst {
  background-color: white;
  opacity: 0.9;
  padding-bottom: 10px;
  border-radius: 0 0 20px 20px;
}

#clock-area2 #bottom-area,
#clock-area3 #bottom-area {
  border-radius: 20px;
}

#clock {
    background-color: white;
    height: 10%;
    font-size: 46px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-color: #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 20px 20px 0 0;
    margin-top: 20px;
    opacity: 0.9;
}

#clock2 {
    background-color: white;
    height: 10%;
    font-size: 46px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-color: #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 20px 20px 0 0;
    margin-top: 20px;
    opacity: 0.9;
}

#clock3 {
    background-color: white;
    height: 10%;
    font-size: 46px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-color: #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 20px 20px 0 0;
    margin-top: 20px;
    opacity: 0.9;
}

#sijaintiTieto {
  background-color: white;
  opacity: 0.9;
  font-size: 16px;
}

#buttonLocation {
  background-color: white;
  padding-bottom: 5px;
  opacity: 0.9;
}

#numberOfClocks {
  width: 20em;
  margin-left: calc(50% - 10em);
}

#text-area {
    height: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.list {
    list-style-type: none;
}

#selector-of-timezone, button {
    height: 100%;
    padding: 10px 10px 10px 10px;
    background: #fff;
    border: 1px solid #d1d1d1;
    color: grey;
    border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin: auto;
}

#selector-of-timezone2, button {
    height: 100%;
    padding: 10px 10px 10px 10px;
    background: #fff;
    border: 1px solid #d1d1d1;
    color: grey;
    border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin: auto;
}

#selector-of-timezone3, button {
    height: 100%;
    padding: 10px 10px 10px 10px;
    background: #fff;
    border: 1px solid #d1d1d1;
    color: grey;
    border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin: auto;
}

svg{
	stroke: #000;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#rim {
  fill: none;
  stroke: #999;
  stroke-width: 3px;
}

.second-hand{
	stroke-width:3;

}

.minute-hand{
	stroke-width:8;
	stroke-linecap:round;
}

.hour-hand{
	stroke-width:12;
	stroke-linecap:round;
}


.second-hand_2{
	stroke-width:3;

}

.minute-hand_2{
	stroke-width:8;
	stroke-linecap:round;
}

.hour-hand_2{
	stroke-width:12;
	stroke-linecap:round;
}


.second-hand_3{
	stroke-width:3;

}

.minute-hand_3{
	stroke-width:8;
	stroke-linecap:round;
}

.hour-hand_3{
	stroke-width:12;
	stroke-linecap:round;
}


.hands-cover{
	stroke-width:3;
	fill:#fff;
}

.second-tick{
	stroke-width:3;
	fill:#000;
}

.hour-tick{
	stroke-width:8; /* same as the minute hand */
}

.second-label{
	font-size: 12px;
}

.hour-label{
	font-size: 24px;
}
